arrow
dateutil
django==2.2.10
edc-action-item
edc-adverse-event
edc-consent
edc-constants
edc-identifier
edc-list-data
edc-model
edc-model-admin
edc-registration
edc-reportable
edc-sites
edc-utils
edc-visit-schedule
faker
model-baker